.right{
    float:right;
}
.left{
    float:left;
}
.tab{
    position: relative;
    left: 40px;
    width: 300px;
    word-wrap: break-word;
}
.school{
  
}
p + ul {
    margin-top: -15px;
}
p + p {
    margin-top: -10px;
}
p + h1 {
    margin-bottom: -5px; 
}
body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
  }